* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.titulo {
    font-size: 200%;
}

.fondo, .fondo-ultimas-noticias {
    background-color: rgba(128, 128, 128, 0.0, 5);
    -webkit-box-shadow: -2px -1px 14px 1px rgba(140, 137, 140, 0.66);
    -moz-box-shadow: -2px -1px 14px 1px rgba(140, 137, 140, 0.66);
    box-shadow: -2px -1px 14px 1px rgba(140, 137, 140, 0.66);
}

.fondo-ultimas-noticias {
    background-color: white;
}

.fondo-tabla {
    background: linear-gradient(to left, #003366 0%, #009999 100%);
}

.fondo-footer {
    background: linear-gradient(to top, #009999 0%, #006666 100%);
    -webkit-box-shadow: -2px -9px 15px -6px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: -2px -9px 15px -6px rgba(0, 0, 0, 0.76);
    box-shadow: -2px -9px 15px -6px rgba(0, 0, 0, 0.76);
}

.fondo-nav {
    background-color: #006699;
}

.titulo-fondo {
    background: linear-gradient(to bottom, #003366 0%, #009999 100%);
}

.align {
    float: right;
}

picture {
    box-shadow: 10px 5px 5px black;
}

.fondo-equipos {
    background-color: white;
}

.tamaño-fecha {
    background: linear-gradient(to right, #660033 0%, #660033 100%);
    font-size: 150%;
    color: rgb(255, 255, 255);
}

nav {
    background-color: white;
    border-bottom: 2px solid black;
}

.fechas {
    width: 100%;
}

.fechas img {
    width: 80%;
}

.encabezado-fechas {
    background-color: #660033;
    color: white;
    font-weight: bold;
    width: 97%;
    margin: 0 auto;
    

}

.fondo-list {
    background-color: #660033;
    color: white;
}
.resaltado{
    color: black
}

.ocultar {
    visibility: collapse;
}

.mostrarFila {
    display: table-row;
}

#captcha {
    background: #005e7c;
}

#botonEnviar {
    background: #348e2e;
}


.centrar{
    
    margin-left: 2%;
    margin-right: 2%;
}